.banniere {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("dossier html/logo header/Fond noir étoilé.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.logo {
  max-height: 120px;
  max-width: 200px;
  object-fit: contain;
}
